.page-hero {
    --size-132px: 8.25rem;

    padding-block: var(--size-132px) var(--size-180px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    background-color: rgba(255, 194, 194, 0);
    transition: background-color 0.2s ease;
}

.page-header {
    --size-600px: 37.5rem;
    
    max-width: var(--size-600px);
    margin-top: var(--size-40px);
}