.page-hero {
    --size-172px: 10.75rem;

    padding-block: var(--size-172px) var(--size-180px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.hero-container {
    background-color: rgba(255, 194, 194, 0);
    transition: background-color 0.2s ease;
    padding: 5rem;
}

.page-header {
    --size-600px: 37.5rem;
    
    max-width: var(--size-600px);
    margin-top: var(--size-40px);
}