/* Hero */

.page-header {
    max-width: unset;
}

.news-details-contact {
    margin-top: var(--size-48px);
}

.news__details > *:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -12px;
    background-color: var(--clr-gray-700);
    width: 1px;
    height: 12px;
}

.news-contact__ul {
    gap: var(--size-12px);
}

/* News Content */

.news-content {
    padding-bottom: var(--size-100px);
}

.news-content__banner-img {
    --size-500px: 31.25rem;
    height: var(--size-500px);

    bottom: var(--size-80px);
}

/* News Content Text */

:is(.news-content__text, .comments__container) {
    --size-810px: 50.625rem;

    max-width: var(--size-810px);
}

:is(.nct__first-p, .nct__third-p) {
    line-height: var(--size-30px);
}

:is(.nct__second-p, .nct__fourth-p, .nct__last-p)
 {
    line-height: var(--size-26px);
    margin-bottom: var(--size-48px);
}

.nct__third-p {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--size-30px);
}

.nct__third-p::before {
    content: url(../img/braces.svg);
    grid-column: 1/2;
}

.nct__fourth-p {
    margin-top: var(--size-48px);
}

.nct__ul {
    list-style-type: none;
}

.nct-ul__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--size-16px);
}

.nct-ul__item::before {
    content: url(../img/check.svg);
    width: var(--size-16px);
    height: var(--size-16px);
    align-self: center;

    grid-column: 1/2;
}

.nct__last-p {
    margin-bottom: var(--size-60px);
}

/* Related News */ 

.related-news {
    padding-block: var(--size-80px);
}

/* Comments */ 

.comments-section {
    padding-block: var(--size-100px) var(--size-180px);
}

.comments {
    display: grid;
}

.comment:not(:last-child) {
    margin-bottom: var(--size-60px);
}

.comment:last-child {
    margin-bottom: var(--size-120px);
}

.comment {
    display: grid;
    grid-auto-columns: max-content 1fr;
    gap: var(--size-30px);
}

.user {
    grid-column: 1/2;
    grid-row: 1/2;
    min-width: 150px;
}

.comment__text {
    grid-column: 2/3;
    grid-row: 1/3;
}

.reply-btn {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: flex-start;
}

/* Leave Comment Form */

.name-mail {
    gap: var(--size-30px);
}

.name-mail > * {
    flex-grow: 1;
}

.leave-comment-form__wrapper .form-control::placeholder {
    font-size: unset;
}

.leave-comment-form__wrapper .form-control:not(.form-textarea) {
    min-height: var(--size-52px);
}

.leave-comment-form__wrapper .form-textarea {
    min-height: var(--size-100px);
}