/* Breakpoint: 1200px */
@media (max-width: 75rem) {
    .custom-container {
        width: calc(100% - 3rem);
    }

    .news-collection {
        grid-template-areas:
        "main-news"
        "2nd-news"
        "3nd-news";
        grid-auto-columns: 1fr;
    }

    .news {
        width: unset;
    }

    /* Footer */

    .footer-grid {
        --size-242px: 15.125rem;

        display: grid;
        grid-template-areas:
            "logo-links footer-form footer-form"
            "contact-us who-we-are our-experience";
        row-gap: var(--size-48px);
        column-gap: var(--size-30px);
        grid-auto-columns: 1fr 1fr 1fr;
    }

    /* Work */

    .title-img__wrapper {
        height: 50vw;
        width: 70vw;
    }

    /* News */

    .news-content__banner-img {
        height: 40vw;
    }

    /* Contact Us */

}

/* Breakpoint: 992px */
@media (max-width: 62rem) {
    .header__contact {
        display: none;
    }

    .section__header {
        margin-bottom: var(--size-40px);
    }

    .our-values {
        padding-top: var(--size-100px);
    }

    .our-services {
        padding-block: var(--size-180px) var(--size-80px);
    }

    .services__items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .browse-our-projects {
        padding-block: var(--size-80px);
    }

    .explore-all {
        margin-top: var(--size-60px);
        gap: var(--size-20px);
    }

    /* Footer */

    .footer-grid {
        --size-242px: 15.125rem;

        grid-template-areas:
            "logo-links logo-links logo-links"
            "contact-us who-we-are our-experience"
            "footer-form footer-form footer-form";
        row-gap: var(--size-40px);
        grid-auto-columns: 1fr 1fr 1fr;
    }

    .footer-about-us {
        max-width: unset;
    }

    .footer-links {
        margin-left: auto;
    }

    /* About Us */

    .our-team__members {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: var(--size-30px);
        row-gap: var(--size-30px);
    }

    .about-ceo {
        margin-top: var(--size-120px);
    }

    :is(.ceo-quote, .ask-question) {
        position: static !important;
    }

    .general-info {
        padding-block: var(--size-60px);
    }

    .values {
        margin-bottom: var(--size-100px);
    }

    /* Services */

    .services-page__items {
        padding-block: var(--size-100px) var(--size-120px);
    }

    .services-page-items__container {
        display: block;
    }

    .services-page-item:not(:last-child) {
        margin-bottom: var(--size-60px);
    }

    .sp-item--flex {
        gap: var(--size-48px);
    }

    .sp-item__content {
        padding-block: var(--size-30px);
    }

    :is(.values, .benefits) {
        gap: var(--size-80px);
    }

    /* Interior Design */

    .offerings {
        padding-block: var(--size-80px) var(--size-100px);
    }

    .related-projects {
        padding-block: var(--size-140px) var(--size-100px);
    }

    /* Our Work */

    .ow-hero {
        background-size: cover;
    }

    .our-works__container .services__items {
        overflow: scroll;
    }

    /* Modern Cottage */

    .project-goal {
        padding-block: var(--size-60px) var(--size-140px);
    }

    .decisions {
        flex-direction: column-reverse;
        gap: var(--size-40px);
        align-items: flex-start;
    }

    .cd-img {
        height: 60vw;
    }

    .details {
        padding: var(--size-24px);
        margin-left: 0;
    }

    /* Available Position */

    .apply-now {
        gap: var(--size-60px);
    }

    .apply-now-job {
        align-items: stretch !important;
    }

    /* News */

    .news-categories {
        padding-block: var(--size-60px) var(--size-80px);
    }

    .name-mail {
        flex-direction: column;
    }

    /* Contact Us */

    .cu-form__img {
        height: 40vw;
        margin-bottom: var(--size-40px);
    }

    .our-offices-section {
        padding-block: var(--size-40px) var(--size-60px);
    }

    .our-offices {
        gap: var(--size-80px);
        margin-bottom: var(--size-60px);
    }

    .office:not(:last-child)::after {
        display: none;
    }

}

/* Breakpoint: 768px */
@media (max-width: 48rem) {
    .custom-container {
        width: calc(100% - 1.5rem);
    }

    .recent-news {
        padding-bottom: var(--size-80px);
    }

    /* Carousel */

    .hero__buttons {
        flex-direction: column;
    }

    .ask-question-section {
        position: static !important;
        padding-inline: var(--size-40px);
    }

    .ask-question-section .form__wrapper {
        flex-direction: column;
        align-items: stretch !important;
    }

    .services__items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    /* Hero */

    .page-hero {
        padding-block: var(--size-120px) var(--size-100px);
    }

    .hero__title {
        line-height: var(--size-64px);
    }

    /* Abous US */

    .client-logos {
        margin-bottom: var(--size-120px);
    }

    .our-team__members {
        column-gap: var(--size-20px);
    }

    /* Services */

    .services-page__items {
        padding-block: var(--size-60px);
    }

    .sp-item--flex {
        flex-direction: column;
        gap: 0;
    }

    .sp-item__content {
        padding-block: var(--size-24px);
    }

    /* Interior Design */

    .our-partners {
        padding-block: var(--size-80px);
    }

    /* Our Work */

    .ow-clients {
        padding-block: var(--size-160px) var(--size-40px);
    }

    .client-logos {
        justify-content: center !important;
    }


    /* Available Positions */

    .apply-now-job {
        padding: var(--size-24px) var(--size-32px);
        flex-direction: column;
        gap: var(--size-20px);
    }

    /* News */

    .news__items {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        column-gap: var(--size-20px);
        row-gap: var(--size-30px);
        padding-block: var(--size-40px);
    }

    :is(.news-content, .our-works__container) {
        padding-bottom: var(--size-60px);
    }

    .related-news {
        padding-block: var(--size-60px);
    }

    :is(.comments-section .services-page__items) {
        padding-block: var(--size-60px) var(--size-80px);
    }

    /* Contact Us */

    .contact-us {
        padding-block: var(--size-80px);
    }

    .cu-form__wrapper {
        display: grid;
        grid-template-areas:
            "name"
            "select-interest"
            "phone"
            "select-location"
            "email"
            "radio"
            "cu-textarea"
            "check-submit";
        grid-auto-columns: 1fr;

        column-gap: var(--size-30px);
        row-gap: var(--size-24px);
    }

    .check-btn__wrapper {
        flex-direction: column;
        gap: var(--size-20px);
        margin-block: 0;
        align-items: flex-start !important;
    }

}

/* Breakpoint: 576px */
@media (max-width: 36rem) {
    .explore-all {
        flex-direction: column;
    }
    
    .what-our-clients-said  {
        gap: var(--size-90px);
    }

    .client-logos {
        margin-bottom: var(--size-60px);
    }

    .main-form__wrapper {
        padding: var(--size-30px);
    }

    /* Footer */

    .main-footer {
        padding-block: var(--size-60px) var(--size-30px);
    }

    .footer-grid {
        column-gap: var(--size-15px);
    }

    .footer-links {
        margin: unset;
    }

    .footer-links__ul {
        gap: var(--size-8px);
    }

    .copyright-scroll {
        flex-direction: column;
        gap: 1.875rem;
    }

    .copyright-scroll >:first-child {
        align-self: flex-start !important;
    }
    
    .our-team__members {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    /* About */ 

    .ceo-quote {
        padding: var(--size-60px) var(--size-30px);
    }

    .our-values-history {
        padding-inline: unset;
    }

    /* How to Build */

    .news-details-contact {
        flex-direction: column;
        align-items: unset !important;
    }
    .comments-section {
        padding-block: var(--size-60px) var(--size-80px);
    }

}