/* Utility Classes */

.transition-200 {
    transition: all 0.2s ease;
}

.nowrap {
    white-space: nowrap;
}

.line-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.bg-transparent {
    background-color: transparent;
}

/* Text Color */

.text-clr-primary {
    color: var(--clr-primary)!important;
}

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.text--gray-900 {
    color: var(--clr-gray-900);
}

.text--gray-800 {
    color: var(--clr-gray-800);
}

.text--gray-700 {
    color: var(--clr-gray-700);
}

.text--gray-600 {
    color: var(--clr-gray-600)!important;
}

.text-neutral-60 {
    color: var(--clr-neutral-60);
}

/* Bg Color */

.bg-clr--primary {
    background-color: var(--clr-primary);
}

.bg-clr--primary-70 {
    background-color: var(--clr-primary-70);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100)!important;
}

.bg-gray-200 {
    background-color: var(--clr-gray-200);
}

.bg-gray-900 {
    background-color: var(--clr-gray-900);
}

/* Font Size */

.fs-12 {
    font-size: var(--fs-14px);
}

.fs-14 {
    font-size: var(--fs-14px);
}

.fs-18 {
    font-size: var(--fs-18px);
}

.fs-20 {
    font-size: var(--fs-20px);
}

.fs-24 {
    font-size: var(--fs-24px);
}

.fs-28 {
    font-size: var(--fs-28px)!important;
}

.fs-40 {
    font-size: var(--fs-40px);
}

.fs-46 {
    font-size: var(--fs-46px);
}

.fs-64 {
    font-size: var(--fs-64px);
}

.fs-72 {
    font-size: var(--fs-72px);
}

/* Font Weight */

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.text-uppercase {
    text-transform: uppercase;
}